<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.nearinfinity.unanet</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.3</string>
			<key>CFBundleVersion</key>
			<string>4</string>
			<key>Developer Identifier</key>
			<string>SWF9T586H2</string>
			<key>URL</key>
			<string>https://raw.github.com/wiki/nearinfinity/unanet-browser-extension/downloads/unanet.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
