body {
  min-width: 350px;
}

#url {
  width: 200px;
}

#openHomepage, #openTimesheet {
  font-size: 10pt;
}

#timesheetErrors {
  background-color: #ff6b70;
  border: 1px solid #797979;
  -webkit-border-radius: 10px;
  margin-bottom: 10px;
}

#timesheetErrors ul li {
  list-style: none;
}

#timesheetErrors a {
  text-decoration: none;
}

.popupField {
  text-wrap: none;
}

.popupField label {
  width: 80px;
  text-align: right;
  display: inline-block;
  font-size: 10pt;
}